$bottom-tabs-height: 64px;

$dashboard-header-height: 64px;
$dashboard-header-height-mobile: 44px;
$dashboard-header-with-toolbar-height: 124px;

$rate-badge-color-good: #4AC598;
$rate-badge-color-problematic: #FFC369;
$rate-badge-color-bad: #F36984;

$placeholder-color: rgba(128, 128, 128, 0.6);