<h1 class="leading-12 text-4xl md:text-2xl mb-2">Hilfe & Support</h1>

<p class="mb-2">Bei Problemen oder Fragen zu unserer App wenden Sie sich jederzeit an uns.
Entweder per E-Mail: <a class="text-primary-400 hover:text-primary-600" href="mailto:h.huber@fitron.at">h.huber@fitron.at</a> oder telefonisch unter <a class="text-primary-400 hover:text-primary-600" href="tel:+436641609305">0664 160 93 05</a>.</p>

<p class="mb-2">Wir stehen Ihnen f&uuml;r Fragen immer zur Verf&uuml;gung.</p>




