<div class="session-illustration">
  <div class="desktop">
    <%= image_tag 'desktop_login_illustration', alt:"desktop_login_illustration" %>
    <%= image_tag 'desktop_login_illustration', alt:"desktop_login_illustration" %>
  </div>
  <div class="mobile">
    <%= image_tag 'login_illustration', alt:"login_illustration" %>
  </div>
</div>