<h1 class="leading-12 text-2xl lg:text-4xl mb-2">Nutzungsbedingungen</h1>

<p class="font-bold mb-4 rounded-full px-4 py-2 bg-grey-200">Die Benutzung und der Download der App sind kostenlos.</p>

<p class="mb-2">FITRON GMBH<br>MARKTPLATZ 4/8 – 3313 WALLSEE AUSTRIA</p>


<h2 class="text-xl lg:text-2xl leading-6 mb-2 mt-4">1. Allgemeines</h2>

<p class="mb-2">Alle Leistungen, die von FITRON GmbH (nachstehend Verkäufer genannt) für den Kunden erbracht werden, erfolgen ausschließlich auf der Grundlage der nachfolgenden Allgemeinen Geschäftsbedingungen. Abweichende Regelungen haben nur dann Geltung, wenn sie zwischen dem Verkäufer und dem Kunden schriftlich vereinbart wurden.</p>

<h2 class="text-xl lg:text-2xl leading-6 mb-2 mt-4">2. Vertragsschluss</h2>

<p class="mb-2">Zum Vertragsschluss mit dem Verkäufer sind nur Personen berechtigt, die das 18. Lebensjahr vollendet haben und zum Zeitpunkt des Vertragsschlusses in ihrer Geschäftsfähigkeit nicht beschränkt sind.</p>

<p class="mb-2">Die Angebote vom Verkäufer im Onlineshop im Internet sind unverbindliche Offerte an den Kunden, im Onlineshop Waren zu bestellen.</p>

<p class="mb-2">Durch die Bestellung von Waren im Onlineshops des Verkäufers gibt der Kunde seine Bereitschaft bekannt einen Kaufvertrag über die bestellte Ware abzuschließen.</p>

<p class="mb-2">Der Verkäufer ist berechtigt, dieses Angebot innerhalb von 3 Kalendertagen durch Zusendung einer Auftragsbestätigung per Mail anzunehmen. Erfolgt keine Bestätigung der Bestellung per Mail gilt das Angebot als abgelehnt.</p>

<h2 class="text-xl lg:text-2xl leading-6 mb-2 mt-4">3. Lieferzeiten</h2>

<p class="mb-2">Alle Artikel werden umgehend, sofern ab Lager verfügbar und nur solange der Vorrat reicht, ausgeliefert.</p>

<p class="mb-2">Die Lieferung erfolgt in die angegeben Länder im Onlineshop des Verkäufers. Die Lieferzeit beträgt in der Regel 3-5 Werktage und beginnt mit dem Versand der Auftragsbestätigung. Die Angabe der Lieferzeit ist unverbindlich, es sei denn, es gibt eine anders lautende schriftliche Vereinbarung.</p>

<p class="mb-2">Sollte ein Artikel kurzfristig nicht verfügbar sein, informieren wir Sie per E-Mail über die zu erwartende Lieferzeit, sofern uns eine Adresse von Ihnen vorliegt.</p>

<p class="mb-2">Bei Lieferungsverzögerungen, wie z.B. durch höhere Gewalt, Verkehrsstörungen und Verfügungen von hoher Hand sowie sonstige von dem Onlineshop nicht zu vertretende Ereignisse, kann kein Schadensersatzanspruch gegen den Onlineshop geltend gemacht werden.</p>

<p class="mb-2">Ist die Lieferung durch das Verschulden von Vorlieferanten verzögert ), so hat der Onlineshop dafür nicht einzustehen.</p>

<h2 class="text-xl lg:text-2xl leading-6 mb-2 mt-4">4. Verpackung- und Versendung</h2>

<p class="mb-2">Für Lieferung innerhalb Österreichs und Verpackungskosten berechnet der Onlineshop einen anteiligen Pauschalbetrag von 3,80 EUR, restliche angebotene Lieferländer 5,80 EUR, unabhängig von der Anzahl und dem Gewicht der Artikel. Die Lieferungen erfolgen mit Paketdienst GLS bzw. DPD. Lieferungen an Wiederverkäufer werden separat berechnet je nach Vereinbarung.</p>

<h2 class="text-xl lg:text-2xl leading-6 mb-2 mt-4">5. Preise und Zahlung</h2>

<p class="mb-2">5.1 Alle angegebenen Preise sind Endpreise, die die gesetzliche Mehrwertsteuer von derzeit 20 % beinhalten.</p>

<p class="mb-2">5.2 Die Endpreise inkludieren die Kosten für Verpackung, aber nicht den Versand.</p>

<p class="mb-2">5.3 Durch die ständige Aktualisierung der Internetseiten des Onlineshops, verlieren zu einem früheren Zeitpunkt gemachte Angaben bezüglich Preis und Beschaffenheit der Ware ihre Gültigkeit. Irrtümer und Druckfehler bleiben vorbehalten.</p>

<p class="mb-2">5.4 Der ausgewiesene Preis zum im Onlineshop des Verkäufers ist für die Rechnungsstellung maßgeblich.</p>

<p class="mb-2">5.5 Die Bezahlung der Waren erfolgt über die Zahlungsmöglichkeiten des Onlineshops. Kauf auf Rechnung nur nach schriftlicher Vereinbarung an Wiederverkäufer. Ausnahmen haben nur dann Gültigkeit, wenn sie zwischen dem Verkäufer und dem Kunden schriftlich vereinbart wurden.</p>

<p class="mb-2">5.7 Ist der Kunde seiner Zahlungsverpflichtung nach Ablauf der vereinbarten Frist nicht nachgekommen, so behält sich der Verkäufer das Recht vor, daraus entstehende zusätzliche Mahn- und Bearbeitungsgebühren dem Kunden in Rechnung zu stellen.</p>

<p class="mb-2">5.8 Gerät der Kunde mit der Zahlung in Verzug, so ist der Verkäufer berechtigt, Verzugszinsen in gesetzlich vorgeschriebener Höhe geltend zu machen. Das Recht des Verkäufer, eventuell weitergehende Schadensersatzansprüche geltend zu machen, bleibt hiervon unberührt.</p>

<h2 class="text-xl lg:text-2xl leading-6 mb-2 mt-4">6. Eigentumsvorbehalt</h2>

<p class="mb-2">Bis zur vollständigen Bezahlung bleiben die bestellten Waren Eigentum des Verkäufers (Eigentumsvorbehalt). Bei Zahlungsverzug des Kunden ist der Verkäufer berechtigt, die Ware zurückzuholen. Darin liegt kein Rücktritt vom Vertrag, es sei denn dieser wird ausdrücklich erklärt.</p>

<h2 class="text-xl lg:text-2xl leading-6 mb-2 mt-4">7. Gewährleistung</h2>

<p class="mb-2">7.1 Die aus einem Mangel der Ware begründeten Ansprüche des Kunden gegen den Verkäufer richten sich nach den gesetzlichen Vorschriften in Österreich.</p>

<p class="mb-2">7.2 Der Kunde verpflichtet sich, die Ware bei Entgegennahme auf etwaige Mängel zu untersuchen und bei Feststellung eines solchen umgehend den Verkäufer darüber in Kenntnis zu setzen. Sollte der Kunde zu einem späteren Zeitpunkt feststellen, dass die Ware mangelhaft ist, so ist er verpflichtet, den Verkäufer sofort nach Entdeckung desselben zu informieren. Unterlässt es der Kunde, einen Mangel anzuzeigen, gilt die Ware als genehmigt.</p>

<p class="mb-2">7.3. Als Mangel an der Ware zählen nicht Schäden, die der Kunde durch unsachgemäße oder vertragswidrige Behandlung verursacht hat. Ausschlaggebend für die Unsachgemäßheit und Vertragswidrigkeit sind die Angaben des Herstellers der Ware.</p>

<p class="mb-2">7.4. Die Gewährleistungsfrist beträgt auf das Gerät zwei Jahre. Auf die Batterie ein Jahr. Sie beginnt mit dem Erhalt der Ware zu laufen.</p>

<p class="mb-2">7.5. Die Gewährleistung erlischt in jedem Fall bei Eingriffen, Reparaturen oder Reparaturversuchen des Käufers oder nicht autorisierter Dritter.</p>

<h2 class="text-xl lg:text-2xl leading-6 mb-2 mt-4">8. Haftungsbeschränkung</h2>

<p class="mb-2">Soweit sich nachstehend nichts anderes ergibt, sind weitergehende Ansprüche des Kunden, gleich aus welchen Rechtsgründen, ausgeschlossen. Der Verkäufer haftet deshalb nicht für Schäden, die nicht am Liefergegenstand selbst entstanden sind; insbesondere haftet der Verkäufer nicht für den entgangenen Gewinn oder sonstige Vermögensschäden des Kunden. Soweit die vertragliche Haftung vom Verkäufer ausgeschlossen oder beschränkt ist, gilt dies auch für die persönliche Haftung von Arbeitnehmern, Vertretern und Erfüllungsgehilfen.</p>

<p class="mb-2">Die Bestimmungen des Produkthaftungsgesetzes bleiben hiervon unberührt. Sofern der Verkäufer fahrlässig eine vertragswesentliche Pflicht verletzt, ist die Ersatzpflicht für Sachschäden auf den typischerweise entstehenden Schaden beschränkt.</p>

<p class="mb-2">Ist die Nacherfüllung im Wege der Ersatzlieferung erfolgt, ist der Besteller dazu verpflichtet, die zuerst gelieferte Ware innerhalb von 5 Tagen an den Verkäufer auf Kosten des Käufers zurückzusenden.</p>

<p class="mb-2">Die Rücksendung der mangelhaften Ware hat nach den gesetzlichen Vorschriften zu erfolgen. Der Verkäufer behält sich vor, unter den gesetzlich geregelten Voraussetzungen Schadensersatzgeltend zu machen.</p>

<p class="mb-2">Die Verjährungsfrist beträgt zwei Jahre. Fristbeginn erfolgt mit Lieferung der Sache.</p>

<h2 class="text-xl lg:text-2xl leading-6 mb-2 mt-4">9. Datenschutz</h2>

<p class="mb-2">Der Kunde ist damit einverstanden, dass seine, dem Onlineshop im Rahmen Geschäftsbeziehung zugehenden persönlichen Daten, elektronisch gespeichert und verarbeitet werden. Es wird darauf hingewiesen, dass im Sinne dieser Bestimmung ermittelte Daten ausschließlich für Zwecke der Leistungserbringung, insbesondere zum Zweck der Auftragsabwicklung und der Buchhaltung erhoben und verarbeitet werden. Der Verkäufer gibt Kunden-Daten nicht an Dritte weiter. Siehe Datenschutzverordnung im Onlineshop.</p>

<h2 class="text-xl lg:text-2xl leading-6 mb-2 mt-4">10. Copyright</h2>

<p class="mb-2">Alle dargestellten Fremdlogos, Bilder und Grafiken sind Eigentum der entsprechenden Firmen unterliegen dem Copyright der entsprechenden Lizenzgeber. Sämtliche auf diesen Seiten dargestelltenFotos, Logos, Texte, Berichte, Scripte und Programmierroutinen, welche Eigenentwicklungen von uns sind oder von uns aufbereitet wurden, dürfen nicht ohne unser Einverständnis kopiert oder anderweitig genutzt werden. Alle Rechte vorbehalten.</p>

<h2 class="text-xl lg:text-2xl leading-6 mb-2 mt-4">11. Gerichtsstand</h2>

<p class="mb-2">11.1 Gerichtsstand ist, soweit das Gesetz nichts anders vorsieht, der Geschäftssitz des Verkäufers.</p>

<p class="mb-2">11.2 Für alle Streitigkeiten, die sich möglicherweise aus diesem rechtlichen Verhältnis ergeben, ist österreichisches Recht unter Ausschluss der Kollisionsnormen anzuwenden. Die Anwendung von UN-Kaufrecht wird ausgeschlossen.</p>

<h2 class="text-xl lg:text-2xl leading-6 mb-2 mt-4">12. Gültigkeit der AGB</h2>

<p class="mb-2">Mit einer Bestellung erkennt der Kunde die Allgemeinen Geschäftsbedingungen des Onlineshops an. Sollte eine Bestimmung dieser Allgemeinen Geschäftsbedingungen, aus welchem Grund auch immer, nichtig sein, bleibt die Geltung der übrigen Bestimmungen hiervon unberührt. Mündliche Absprachen bedürfen zu ihrer Wirksamkeit der schriftlichen Bestätigung.</p>