<div class="request-type request-type--<%= type %>">
  <div class="request-type__title">
    <%= I18n.t "requests.type.#{type}.title" %>
  </div>
  <div class="request-type__illustration">
    <%= svg "#{type}_request" %>
  </div>
</div>