<div class="wizard-actions">
  <%= link_to t("common.cancel"), janitors_root_path, class: "mr-3 button button--outline", data: { confirm: t("create_request.cancel_alert") } %>
  <%= form.submit t("common.continue") %>
</div>