<p>Hallo <%= @resource.email %>!</p>
<p>Jemand hat den folgenden Link, zum Ändern Ihres Passworts, angefordert.</p>
<p><%= link_to 'Passwort ändern', edit_password_url(@resource, reset_password_token: @resource.reset_password_token) %></p>
<p>Sollten Sie diesen Link nicht angefordert haben, können Sie diese Nachricht ignorieren.</p>
<p>Ihr Passwort ändert sich nur, wenn Sie auf den Link klicken und ein neues Passwort erstellen.</p>
<p><br>Bitte nicht antworten, dies ist eine automatisch generierte E-Mail. Bei Fragen oder Anregungen wenden Sie sich bitte an unseren <a href="https://www.fitronsport.com/pages/kontakt">Kundenservice</a>.</p>
<p>_______________________________________<br>
Fitron GmbH<br>
Marktplatz 4/8<br>
3313 Wallsee - Austria<br>
<br>
Tel.: +43 (0)7433 20001<br>
Fax: +43 (0)7433 20001 15<br>
Mobil: +43 (0)664 160 9305<br>
Email: office@fitronshops.com</p>
